<div class="notification">
  Here is an update! You may dismiss this message.
  <button app-button appearance="secondary">Dismiss</button>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti
  natus dolorem id, quibusdam, et necessitatibus in, quo odit ea amet aliquid
  inventore aspernatur doloremque cumque eius quod eveniet? Atque.
</p>

<p>Would you like this feature turned on?</p>

<div class="buttons">
  <button class="yes" app-button>Yes</button>
  <button app-button appearance="outline">No</button>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti
  natus dolorem id, quibusdam, et necessitatibus in, quo odit ea amet aliquid
  inventore aspernatur doloremque cumque eius quod eveniet? Atque.
</p>

<div class="buttons">
  <span class="warning">You must be signed in to save</span>
  <button app-button disabled>Save</button>
</div>
