:host {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px;
}

select {
  padding: 6px 12px;
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: 2px solid var(--color-outline);
  cursor: pointer;
}
select.primary {
  border-color: var(--color-primary);
}
select:hover,
select:focus,
select:focus-visible {
  border-color: var(--color-primary-hover);
}
select:active {
  border-color: var(--color-primary-active);
}
select:focus-visible {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: 2px;
}
label {
  cursor: pointer;
  padding-bottom: 4px;
}
