// Base Colors
$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);
$color-primary-active: var(--color-primary-active);

$color-secondary: var(--color-secondary);
$color-secondary-hover: var(--color-secondary-hover);
$color-secondary-active: var(--color-secondary-active);

$color-outline: var(--color-outline);
$color-outline-hover: var(--color-outline-hover);
$color-outline-active: var(--color-outline-active);

$background-color-disabled: var(--background-color-disabled);
$color-disabled: var(--color-disabled);

$color-white: var(--color-white);
$color-dark: var(--color-dark);

$color-focus-ring: var(--color-focus-ring);

// Button Text
// $color-button-text: var(--color-button-text);
// $color-outline-text: var(--color-outline-text);

// Select
$color-select-background: var(--color-select-background);
$color-select-hover: var(--color-select-hover);
$color-select-active: var(--color-select-active);
$color-select-border-focus: var(--color-select-border-focus);
$color-select-arrow: var(--color-select-arrow);

// Checkbox
$color-checkbox-border: var(--color-checkbox-border);
$color-checkbox-hover: var(--color-checkbox-hover);
$color-checkbox-active-bg: var(--color-checkbox-active-bg);
$color-checkbox-check: var(--color-checkbox-check);

// Modal
$color-modal-bg: var(--color-modal-bg);
$color-modal-header: var(--color-modal-header);
$color-modal-text: var(--color-modal-text);
$color-modal-border: var(--color-modal-border);
$color-modal-shadow: var(--color-modal-shadow);

// Spacing
$component-size: var(--component-size);
$gap: var(--gap);
