<div class="ui-container">
  <button app-button appearance="primary">Primary</button>
  <button app-button appearance="primary" disabled>Primary</button>
  <button app-button appearance="secondary">Secondary</button>
  <button app-button appearance="secondary" disabled>Secondary</button>
  <button app-button appearance="outline">Outline</button>
  <button app-button appearance="outline" disabled>Outline</button>

  <div class="custom-buttons">
    <p>Overrides using css custom properties</p>

    <button app-button>Custom</button>
  </div>
</div>
