@use "variables" as *;

// Checkbox style values
// Be sure to ask for any clarifications for any styles not already listed here.

$background-color: $color-white;
$border-color: #1f2937;

$background-color-checked: $color-primary;
$border-color-checked: $color-primary-active;

$background-color-disabled: $background-color-disabled;
$border-color-disabled: $background-color-disabled;

:host {
  display: block;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 4px;
}

:host.disabled {
  color: $color-disabled;
  cursor: not-allowed;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  cursor: inherit;
}

/* Hide native checkbox */
input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border: 2px solid $border-color;
  border-radius: 4px;
  margin-right: 4px;
  $background-color: $background-color;
}

:not(:disabled):hover + .checkbox-box,
:not(:disabled):focus-visible + .checkbox-box {
  outline: 2px solid $color-focus-ring;
  outline-offset: 2px;
}

input[type="checkbox"]:checked + .checkbox-box {
  background-color: $background-color-checked;
  border-color: $border-color-checked;
}

/* Disabled */
input[type="checkbox"]:disabled + .checkbox-box {
  background-color: $background-color-disabled;
  border-color: $background-color-disabled;
}
