// Checkbox style values
// Be sure to ask for any clarifications for any styles not already listed here.

$background-color: var(--color-white);
$border-color: #1f2937;

$background-color-checked: var(--color-primary);
$border-color-checked: var(--color-primary-active);

$background-color-disabled: var(--background-color-disabled);
$border-color-disabled: var(--background-color-disabled);

:host {
  display: block;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 4px;
}

:host.disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
}
