@use "variables" as *;

$background-color: $color-white;
$border-color: #1f2937;

$background-color-checked: $color-primary;
$border-color-checked: $color-primary-active;

$background-color-disabled: $background-color-disabled;
$border-color-disabled: $background-color-disabled;

:host {
  display: block;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 4px;
}

:host.disabled {
  color: $color-disabled;
  cursor: not-allowed;
}
