// @import './styles/variables';
@use "variables" as *;

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-secondary;
  padding: 12px 24px;
  color: $color-white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.navbar ul li a {
  color: $color-white;
  text-decoration: none;
  font-weight: 500;
}
.navbar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  max-width: 600px;
  margin: 32px auto;
  padding: 16px;
  border: 2px solid $color-secondary;
  border-radius: 8px;
}
