<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti
  natus dolorem id, quibusdam, et necessitatibus in, quo odit ea amet aliquid
  inventore aspernatur doloremque cumque eius quod eveniet? Atque.
</p>

<p>
  Please select a year, make, and model from the dropdowns below to see car
  information.
</p>

<div class="selects">
  <app-select label="Year" [options]="years" />
  <app-select label="Make" [options]="makes" />
  <app-select label="Model" [options]="models" />
</div>

<div class="buttons">
  <button app-button appearance="primary">Submit</button>
</div>
