<div class="ui-container">
  <app-checkbox
    label="Checked"
    [checked]="true"
    (checkboxIsToggled)="onCheckboxChange($event)"
  ></app-checkbox>

  <app-checkbox
    label="Checked and Hover"
    [checked]="true"
    (checkboxIsToggled)="onCheckboxChange($event)"
  ></app-checkbox>

  <app-checkbox
    label="Unchecked"
    [checked]="false"
    (checkboxIsToggled)="onCheckboxChange($event)"
  ></app-checkbox>

  <app-checkbox
    label="Unchecked and Hover"
    [checked]="false"
    (checkboxIsToggled)="onCheckboxChange($event)"
  ></app-checkbox>
</div>

<div class="ui-container examples">
  <img src="./checkbox-examples.png" alt="Checkbox Examples" />
</div>
