<p>Select a list of pizza toppings you want:</p>
<p>Meats</p>

@for (meat of meats; track meat) {
  <app-checkbox
    [label]="meat.text"
    [checked]="meat.checked"
    [disabled]="meat.disabled"
    (checkboxIsToggled)="toggleCheckbox(meat)"
  ></app-checkbox>
}

<p>Vegetables</p>
@for (vegetable of vegetables; track vegetable) {
  <app-checkbox
    [label]="vegetable.text"
    [checked]="vegetable.checked"
    [disabled]="vegetable.disabled"
    (checkboxIsToggled)="toggleCheckbox(vegetable)"
  ></app-checkbox>
}

<div class="buttons">
  <button app-button appearance="primary">Submit</button>
</div>
